{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2 class="text-center">Change Password</h2>
        <form action="/change_password" method="post">
            <div class="mb-3">
                <input class="form-control" name="old_password" placeholder="Old Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control" name="new_password" placeholder="New Password" type="password" required>
            </div>
            <div class="mb-3">
                <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password"
                    required>
            </div>
            <button class="btn btn-primary w-100" type="submit">Update Password</button>
        </form>
    </div>
</div>
{% endblock %}